<?xml version='1.0'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- RViz materials -->
    <material name="brown" >
        <color rgba="${150/255} ${130/255} ${50/255} 1" />
    </material>
    <material name="blue">
        <color rgba="0 0 ${200/255} 1" />
    </material>
    <material name="white" >
        <color rgba="1 1 1 1" />
    </material>
    <material name="gray">
        <color rgba="${80/255} ${80/255} ${80/255} 1" />
    </material>

</robot>
