<?xml version="1.0"?>
<launch>

  <!-- Load controller configurations to Parameter Server -->
  <rosparam file="$(find vtol_control)/config/vtol_control.yaml" command="load" ns="vtol" />

  <!-- Load the controllers -->
  <node pkg="controller_manager" type="spawner" name="controller_spawner" ns="/vtol" 
      args="joint_state_controller joint_motor_controller" output="screen" />

  <!-- Convert joint states to TF transforms for rviz, etc -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
    <remap from="joint_states" to="vtol/joint_states" />
  </node>

</launch>
